.container{
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.box{
    border: 1px solid rgb(229, 227, 227);
    max-width: 600px;
    width: 350px;
    height: 400px;
    text-align: center;
    margin-top: 150px;
    
}

.header1{
    text-align: center;
    font-size: 50px;



}

.paragraf1{
    text-align: center;
    color:gray;
    font-family: "Roboto", sans-serif;
    }

.jpg{
    position: relative;
    margin-top: -70px; 
    
}
.jpgg{

    border-radius: 50%;
    width: 150px;
    
}
    

.paragraf2{
    color:gray;
    
}
h3{
    color:gray;
}